:root {
    --logo-color: #c49b4e;
    --background-color: #18191b;
    --section-background: #101214; 
    --contact-form: #0d0e10;
    --nav-background: rgba(10, 10,20, .8);
    --body-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

a {
   transition: .2s ease-out;
}

img {
  vertical-align: middle;
}

main {
    max-width: 100vw;
}

nav {
    background-color: var(--nav-background);
}

.nav-item {
   margin-bottom: -2em;
   transition: .2s ease-out;
}
nav .navbar-nav li a{
    color: var(--logo-color);
    margin-right: 2em;
    padding-top: 1.5em;
    font-size: 1.2em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}

.navbar i {
    font-size: 2em;
    color: var(--logo-color);
}

.nav-link:hover {
    color: #fff;
}

#navList a {
    color: var(--logo-color);
    margin-right: 2em;
    padding-top: 1.5em;
    font-size: 1.2em;
    padding-bottom: 1.5em;
    font-family: 'Poppins', sans-serif;
    margin-top: 1em;
    margin-bottom: 1em;
}


#navList a:hover {
    color: #fff;
}

.custom-logo {
    height: 70px;
    width: 90px; 
    margin-top: 1em;
    margin-bottom: 1em;
}

.links {
    float: right;
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
}

#hero {
    position: relative;
    height: 90vh;
    width: 100%;
    min-width: 100%; 
    min-height: 90%;
}

#hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../imgs/mobilehero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(.5) contrast(1.2) saturate(0);
}

#hero .content {
    color: var(--logo-color);
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora', serif;
}

#hero .content h1 {
    font-size: 6.6rem;
    font-weight: 600;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 0;
}

#hero .content h3 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 2rem;
}

#hero .content h3:after {
    content: '';
    width: 70%;
    margin: 2rem 15%;
    display: block;
    border-bottom: 4px solid var(--logo-color);
}

.our-btn {
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: var(--logo-color);
    color: #000;
    transition: .2s linear;
    align-self: center;
    font-family: 'Poppins', sans-serif;
}

.our-btn:hover {
    text-decoration: none;
    color: #000;
    background-color: #eee;
}

/* BEGIN Portfolio Section Styles*/
#work {
    display: flex;
    width: 100%;
    min-height: 60vh;
    flex-direction: row;
}

#workCards {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.workCard {
    background-color: var(--logo-color);
    padding: 2rem 3rem;
    min-width: 300px;
}


/* custom carousel */
.customCarousel {
    flex: 2;
    --dot-height: 150px;
    --caption-height: 60px;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.customCarousel .mainImg {
    display: block;
    width: 100%;
    height: 100%;
}

.center-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#caption {
    --vert-padding: 20px;
    width: 100%;
    padding: calc(var(--caption-height) - 2 * var(--vert-padding)) 40px;
    text-align: center;
    color: #eee;
    background-color: var(--background-color);
    margin: 0;
}

.customCarousel .imgRow {
    height: var(--dot-height);
    display: flex;
    flex-direction: row;
}


.customCarousel img {
    width: 100%;
    object-fit: cover;
}

.customCarousel a {
    background-color: var(--background-color);
    padding: 20px 10px;
    position: absolute;
    top: 50%;
    color: #fff;
    opacity: .7;
    text-decoration: none;
}

.customCarousel a:hover {
    opacity: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.demo {
    filter: brightness(.7);
    width: 100%;
    height: 100%;
    display: block;
}

.active, .demo:hover {
    filter: none;
}

.services {
    list-style: none;
    font-size: 1.2rem;
    line-height: 2em;
}

.cursor {
    cursor: pointer;
}

.slogan {
    font-size: 1.5em;
}

.slogan-below a {
    color: black;
    font-weight: 500;
}

.slogan-below {
    font-size: 1.2em;
}

.testimonial {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: .5rem;
}

/* END Portfolio Section Styles*/


#contact {
    background-color: var(--section-background);
    font-family: var(--body-font);
    max-width: 100vw;
}

.content {
    padding-top: 3em;
}

.content h2 {
    color: white;
    text-align: center;
}

.contact-form {
	width: 85vw;
	margin: 0 auto;
	padding: 4em 0;
    font-size: 15px;
    opacity: .9;
}
.contact-form h2 {
	color: #FFFFFF;
	margin: 0 0 15px;
	position: relative;
    text-align: center;
    font-size: 1.2em;
}
.contact-form h2:before, .contact-form h2:after {
	content: "";
	height: 2px;
	width: 12%;
	background: var(--logo-color);
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.contact-form h2:before {
	left: 0;
}
.contact-form h2:after {
	right: 0;
}

.contact-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #0d0e10;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.contact-form form input[type="text"], input[type="email"], textarea[type="text"] {
    background-color: rgba(0,0,0,0.2);
    color: var(--logo-color);
}

.contact-form form input:focus, textarea[type="text"]:focus {
    background-color: rgba(0,0,0,0.2);
    color: var(--logo-color);
}

input::-webkit-input-placeholder {
    color: var(--logo-color) ;
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: var(--logo-color) ;  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: var(--logo-color) ;  
}
     
input:-ms-input-placeholder {  
    color: var(--logo-color) ;  
}

textarea::-webkit-input-placeholder {
    color: #0bf;
}
      
textarea::-moz-placeholder { /* Firefox 18- */
    color: var(--logo-color) ;  
}
      
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: var(--logo-color) ;  
}
      
textarea::-ms-input-placeholder {
    color: var(--logo-color) ;  
}
      
textarea::placeholder {
    color: var(--logo-color) ;  
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
    outline: none ;
    background-color: var(--logo-color) ;
}
.contact-form .row div:first-child {
    padding-right: 10px;
}
.contact-form .row div:last-child {
	padding-left: 10px;
} 

/* START team page styles */
#team {
    background-color: var(--section-background);
    color: white;
    margin-bottom: -1em;
    padding: 4rem 2em;
}

#team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#team .content .interior-design {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row-reverse; 
}
 /*  START financing page styles  */
#soon {
    background-color: var(--background-color);
    color: white;
    text-align: center;
    margin-top: 10em;
    margin-bottom: 0em;
    padding-bottom: 7em;
    padding-right: 1em;
    padding-left: 1em;
}

#soon a {
    color: var(--logo-color)
}

/*  END financing page styles  */

#soon-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 10em;   /* Height of the footer */
    color: white;
    background-color: var(--nav-background);
 }

.footer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    color: white;
    background-color: var(--contact-form);
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5em;
    
}

.footer h3 {
    font-size: 1.3em;
}


.footer-contact {
	color: #B1AFAF;
	text-decoration: none;
}

.footer-contact:hover {
	color: var(--logo-color);
	text-decoration: none;
}

.footer p {
	padding-top: 1em;
	font-size: 1.2em;
	
}



@media only screen and (min-width: 768px) {

    #hero:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url(../imgs/home-reno.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        filter: brightness(.3) contrast(1.2) saturate(0);
    }

    #hero .content {
        color: var(--logo-color);
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Lora', serif;
    }

    #hero .content h3 {
        font-size: 2.2rem;
        font-weight: 400;
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
        line-height: 2rem;
    }
    
    #hero .content h3:after {
        content: '';
        width: 70%;
        margin: 2rem 15%;
        display: block;
        border-bottom: 4px solid var(--logo-color);
    }

    .custom-logo {
        height: 100px;
        width: 160px;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

    .workCard .grid {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-gap: 2em;
    }

    .workCard .grid h1 {
        font-size: 1.8em;
    }

    .workCard .grid li {
        font-size: 1em;
    }



    .contact-form h2:before, .contact-form h2:after {
        content: "";
        height: 2px;
        width: 30%;
        background: var(--logo-color);
        position: absolute;
        top: 50%;
        z-index: 2;
    }	
    .contact-form h2:before {
        left: 0;
    }
    .contact-form h2:after {
        right: 0;
    }

    .contact-form h2 {
        color: #FFFFFF;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
        font-size: 2.5em;
    }

    .nav-item {
        margin-bottom: 0em;
     }

     .contact-form {
        width: 70vw;
        margin: 0 auto;
        padding: 4em 0;
        font-size: 15px;
        opacity: .9;
    }

    #team {
        background-color: var(--section-background);
        color: white;
        padding: 3em 10em;
    }

    #team .content .bio {
        display: flex;
        padding-top: 4em;
        padding-bottom: 2em;
    }

    #team .content .bio p{
        line-height: 3em;
    }

    #team .content .why p{
        line-height: 3em;
    }

    #team .content .vision p{
        line-height: 3em;
    }

    #team .content img{
        margin:0 20px 20px 0;
        width: 100%;
        height: 100%;
    }

    #team .content .why {
        display: flex;
        flex-direction: row-reverse;
        padding-bottom: 2em;
    }

    #team .content .vision {
        display: flex;
        padding-bottom: 2em;
    }

    #soon {
        background-color: var(--background-color);
        color: white;
        text-align: center;
        margin-top: 17em;
        margin-bottom: 0em;
        padding-bottom: 7em;
    }
    
    #soon a {
        color: var(--logo-color)
    }
}


@media only screen and (max-width: 768px) {

    #work {
        flex-direction: column;
    }

    .customCarousel .mainImg {
        height: 50vh;
    }
}