* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

:root {
    --logo-color: #FFC107;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}



.links {
    float: right;
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
}

#hero {
    position: relative;
    height: 90vh;
    width: 100vw;
}

#hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../imgs/cranes.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(.4);
}

#hero .content {
    color: var(--logo-color);
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora', serif;
}

#hero .content h1 {
    font-size: 6.6rem;
    font-weight: 600;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 0;
}

#hero .content h3 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 2rem;
}

#hero .content h3:after {
    content: '';
    width: 70%;
    margin: 2rem 15%;
    display: block;
    border-bottom: 4px solid var(--logo-color);
}

.our-btn {
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: var(--logo-color);
    color: #000;
    transition: .2s linear;
    align-self: center;
    font-family: 'Lora', serif;
}

.our-btn:hover {
    text-decoration: none;
    color: #000;
    filter: brightness(.7);
}

