* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');

:root {
    --logo-color: #FFC107;
    --background-color: #18191b;
    --section-background: #202020;
    --body-font: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

.our-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 40px;
    color: white;
    width: 100%;
    opacity: .7 !important;
}

nav {
    opacity: .9 !important;
}

nav .navbar-nav li a{
    color: var(--logo-color) !important;
    margin-right: 2em;
    padding-top: 1.5em;
    font-size: 1.2em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}

/* logo styles  */
nav a{
    color: var(--logo-color) !important;
    margin-right: 2em;
    padding-top: 1.5em;
    font-size: 1.2em;
    padding-bottom: 1em;
    font-family: 'Poppins', sans-serif;
}

.links {
    float: right;
    display: flex;
    min-width: 40vw;
    justify-content: space-between;
}

#hero {
    position: relative;
    height: 90vh;
    width: 100vw;
}

#hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../imgs/cranes.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: brightness(.4);
}

#hero .content {
    color: var(--logo-color);
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lora', serif;
}

#hero .content h1 {
    font-size: 6.6rem;
    font-weight: 600;
    width: 100%;
    line-height: 6rem;
    margin-bottom: 0;
}

#hero .content h3 {
    font-size: 2.2rem;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    line-height: 2rem;
}

#hero .content h3:after {
    content: '';
    width: 70%;
    margin: 2rem 15%;
    display: block;
    border-bottom: 4px solid var(--logo-color);
}

.our-btn {
    text-decoration: none;
    margin-top: 1rem;
    padding: 10px 15px;
    background-color: var(--logo-color);
    color: #000;
    transition: .2s linear;
    align-self: center;
    font-family: 'Poppins', sans-serif;
}

.our-btn:hover {
    text-decoration: none;
    color: #000;
    filter: brightness(.7);
}

#contact {
    background-color: var(--background-color);
    font-family: var(--body-font);
    width: 100vw;
}

.content {
    padding-top: 1em;
}

.content h2 {
    color: white;
    text-align: center;
}

.contact-form {
	width: 70vw;
	margin: 0 auto;
	padding: 4em 0;
    font-size: 15px;
    opacity: .9;
}
.contact-form h2 {
	color: #FFFFFF;
	margin: 0 0 15px;
	position: relative;
    text-align: center;
    font-size: 1.5em;
}
.contact-form h2:before, .contact-form h2:after {
	content: "";
	height: 2px;
	width: 12%;
	background: var(--logo-color);
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.contact-form h2:before {
	left: 0;
}
.contact-form h2:after {
	right: 0;
}

.contact-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #212529;;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.contact-form form input[type="text"], input[type="email"], textarea[type="text"] {
    background-color: rgba(0,0,0,0.2);
    color: var(--logo-color);
}

.contact-form form input:focus, textarea[type="text"]:focus {
    background-color: rgba(0,0,0,0.2);
    color: var(--logo-color);
}

input::-webkit-input-placeholder {
    color: var(--logo-color) !important;
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: var(--logo-color) !important;  
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: var(--logo-color) !important;  
}
     
input:-ms-input-placeholder {  
    color: var(--logo-color) !important;  
}

textarea::-webkit-input-placeholder {
    color: #0bf;
}
      
textarea::-moz-placeholder { /* Firefox 18- */
    color: var(--logo-color) !important;  
}
      
textarea::-moz-placeholder {  /* Firefox 19+ */
    color: var(--logo-color) !important;  
}
      
textarea::-ms-input-placeholder {
    color: var(--logo-color) !important;  
}
      
textarea::placeholder {
    color: var(--logo-color) !important;  
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
    outline: none !important;
    background-color: var(--logo-color) !important;
}
.contact-form .row div:first-child {
    padding-right: 10px;
}
.contact-form .row div:last-child {
	padding-left: 10px;
}    	

@media only screen and (min-width: 768px) {
    .contact-form h2:before, .contact-form h2:after {
        content: "";
        height: 2px;
        width: 30%;
        background: var(--logo-color);
        position: absolute;
        top: 50%;
        z-index: 2;
    }	
    .contact-form h2:before {
        left: 0;
    }
    .contact-form h2:after {
        right: 0;
    }

    .contact-form h2 {
        color: #FFFFFF;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
        font-size: 2.5em;
    }
   
  }